body {
  background-color: #f2c9ff;
  color: #d34185;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.fancyfont {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 60px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hotpink;
  font-weight: bold;
}

a:active {
  color: yellow;
  font-size: 20px;
}

.flashy {
  color: #ff4e3a;
  font-weight: bold;
}

.best {
  color: #9c43b7;
  text-decoration: underline;
}

img {
  border-radius: 16px;
}

.column {
  width: 30%;
  float: left;
  padding: 10px;
  text-align: center;
}

.column p {
  text-align: justify;
}
